.contact-container {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 7%;
  }
  
  .contact-container h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .contact-container textarea {
    resize: none;
    height: 120px;
  }
  
  .contact-container button {
    background: #2f49af;
    color: #e9e2e2;
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .contact-container button:hover {
    background: #597fbc;
  }
  