
  .register__container {
    margin: auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    max-width: 400px;
    
    
  }
  
  .register__title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register__form-group {
    margin-bottom: 15px;
  }
  
  .register__label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .register__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .register__input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .register__button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .register__button:hover {
    background-color: #0056b3;
  }
  
  .register__login {
    text-align: center;
    margin-top: 15px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .register__login a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register__login a:hover {
    text-decoration: underline;
  }
  .message {
    margin: 1rem 0; /* Add space around the message */
    padding: 0.75rem 1rem; /* Add padding inside the message box */
    border-radius: 8px; /* Rounded corners */
    font-size: 1rem; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center align the text */
  }
  
  .message.success {
    color: #155724; /* Dark green text */
    background-color: #d4edda; /* Light green background */
    border: 1px solid #c3e6cb; /* Green border */
  }
  
  .message.error {
    color: #721c24; /* Dark red text */
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Red border */
  }
  